.about-section {
  width: 100%;
  background-color: #739169;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
}

.about-wrapper {
  flex: 1;
  color: white;
  padding: 25px;
  box-sizing: border-box;
}

.skills-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 25px;
  box-sizing: border-box;
}

.tech-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.tech-icons-item {
  margin-left: 25px;
  font-size: 35px;
}

.rspec-icon {
  width: 40px;
}

.git-icon {
  width: 40px;
}

.bootstrap-icon {
  width: 40px;
}

.about-divider {
  height: 2px;
  width: 25px;
  background-color: white;
  margin: 0px 0px 10px 0px;
}

.about-h2 {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
}

.skills-h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.about-p {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
}
